<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.weofapphao">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".DownloadApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".czm.ui.CzmHomeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/no_title" />
        <activity
            android:name="com.example.weofapphao.czm.ui.Activity.StudObjectAnimator"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/no_title" />
        <activity
            android:name="com.example.weofapphao.czm.ui.Activity.StudSurface"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/no_title" />

        <activity android:name="com.example.weofapphao.wh.HaoMainActivity" />


        <!-- ________________rrtoyewx___________________________-->
        <activity android:name="com.example.weofapphao.xqq.RrtoyewxMainActivity" />
        <activity android:name=".xqq.recycleview.RrtoyewxRecycleViewActivity" />
        <!-- ________________rrtoyewx___________________________-->
    </application>

</manifest>
