<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.weofapphao">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <supports-gl-texture android:name="GL_OES_compressed_ETC1_RGB8_texture" />
    <supports-gl-texture android:name="GL_OES_compressed_paletted_texture" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".czm.ui.CzmHomeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/no_title" />
        <activity
            android:name=".czm.ui.Activity.StudObjectAnimator"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/no_title" />
        <activity
            android:name=".czm.ui.Activity.StudSurface"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/no_title" />
        <activity android:name=".wh.HaoMainActivity"
            android:theme="@style/AppTheme2"
            />
        <activity android:name=".liuzhonghu.LZHActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".liuzhonghu.activity.SlidingMenuActivity"
            android:label="@string/title_activity_sliding_menu"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Rrtoyewx -->
        <activity android:name=".xqq.RrtoyewxMainActivity" />
        <activity android:name=".xqq.recycleview.RrtoyewxRecycleViewActivity" />
        <activity android:name=".xqq.explosionfield.RrtoyewxExplosionActivity" />
        <!-- Rrtoyewx -->
        <activity
            android:name=".liuzhonghu.activity.AnimatorActivity"
            android:label="@string/title_activity_animator"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".liuzhonghu.activity.anim_activity.ObjectAnimActivity"
            android:label="@string/title_activity_object_anim"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".liuzhonghu.activity.anim_activity.ValueAnimActivity" >
        </activity>
        <activity android:name=".liuzhonghu.activity.anim_activity.AnimSetActivity"></activity>
    </application>

</manifest>
